h1{
    color:green;
   
    margin-left: 500px;
}



.S{
    font-size: 25px;
    font-style: italic;
    color:brown;
    
}

#I{
    font-size: 25px;
    font-style: italic;
    color:brown;
    
}

#C{
    font-size: 25px;
    font-style: italic;
    color: brown;
}

img{
    margin-left: 500px;
   
}

